<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text"   target="php://stdout" showOnlySummary="true"/>
        <log type="coverage-html"   target="coverage"/>
        <log type="coverage-clover" target="coverage/coverage.xml"/>
    </logging>
</phpunit>
